/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --header-height: 15vh;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
    font-family: "Edu TAS Beginner", cursive;
}

/************************************************
    UTILITIES 
 ************************************************/
h1 {
    font-size: 3rem;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* POSTS */
.post-container {
    position: relative;
    background-color: whitesmoke;
    width: fit-content;
}

.post-pin {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-image,
.post-description {
    width: min(70vw, 280px);
}
.post-image {
    aspect-ratio: 1/1;
}
.post-description {
    margin-top: 1rem;
}

/************************************************
    HEADER 
 ************************************************/
header {
    background-image: url(../img/wall.png);
}

/************************************************
    MAIN 
 ************************************************/

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* MEDIUM */
@media screen and (min-width: 680px) {
    /*====================
        UTILITIES
    ====================*/
    h1 {
        font-size: 4rem;
    }
    .post-image,
    .post-description {
        width: clamp(90px, 50vw, 280px);
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    /*====================
        UTILITIES
    ====================*/
    h1 {
        font-size: 5rem;
    }
}

/************************************************
    FONTS
 ************************************************/
