/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --header-height: 15vh;
    --system-font: Helvetica, Arial, sans-serif;
    --cursive-font: "Edu TAS Beginner", cursive;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
    font-family: var(--cursive-font);
}

button {
    font-family: var(--system-font) !important;
    padding: 5px 30px !important;
    font-size: clamp(1rem, 6vw, 1.7rem) !important;
}

/************************************************
    UTILITIES 
 ************************************************/
h1 {
    font-size: 3rem;
    font-weight: 900;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    top: 40%;
    left: 45%;
}

/* POSTS */
#posts-table > .col {
    height: 425px;
}

.post-container {
    position: relative;
    background-color: whitesmoke;
    width: fit-content;

    box-shadow: none;
    transition: transform 0.5s ease-in, box-shadow 0.5s ease-in;
}
.post-container:hover {
    cursor: pointer;
    transform: rotate(10deg);
    box-shadow: 5px 5px 20px black;

    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}
.post-container:hover .post-image {
    width: min(70vw, 300px);

    transition: all 0.3s ease-in;
}
.post-container:hover .post-pin {
    display: none;
}

.post-pin {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-image,
.post-description {
    width: min(70vw, 280px);
    transition: width 0.5s ease-in-out;
}
.post-image {
    aspect-ratio: 1/1;
}
.post-description {
    margin-top: 1rem;
    height: 50px;
}

/* POSTS OVERLAY */
#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: whitesmoke;
    font-family: var(--system-font);
}

.post-overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.post-image-zoom {
    width: min(70vw, 400px);
    aspect-ratio: 1/1;
}

/************************************************
    HEADER 
 ************************************************/
header {
    background-image: url(../img/wall.png);
}

/************************************************
    MAIN 
 ************************************************/

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* MEDIUM */
@media screen and (min-width: 680px) {
    /*====================
        RESET
    ====================*/
    button {
        font-size: 1.7rem !important;
        padding: 5px 30px !important;
    }

    /*====================
        UTILITIES
    ====================*/
    h1 {
        font-size: 4rem;
    }

    /* POSTS */
    .post-image,
    .post-description {
        width: clamp(90px, 50vw, 280px);
    }

    /* POSTS OVERLAY */
    .post-image-zoom {
        width: clamp(90px, 80vw, 400px);
        aspect-ratio: 1/1;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    /*====================
        UTILITIES
    ====================*/
    h1 {
        font-size: 5rem;
    }
}

/************************************************
    FONTS
 ************************************************/
