/************************************************
    CUSTOM PROPERTIES
 ************************************************/
:root {
    --header-height: 15vh;
}

/************************************************
    RESET 
 ************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
    font-family: "Edu TAS Beginner", cursive;
}

button {
    font-family: Helvetica, Arial, sans-serif !important;
    /* font-size: 1.7rem !important; */
    padding: 5px 30px !important;
    font-size: clamp(1rem, 6vw, 1.7rem) !important;
}

/************************************************
    UTILITIES 
 ************************************************/
h1 {
    font-size: 3rem;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* POSTS */
.post-container {
    position: relative;
    background-color: whitesmoke;
    width: fit-content;
}
.post-container:hover {
    cursor: pointer;
}

.post-pin {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-image,
.post-description {
    width: min(70vw, 280px);
}
.post-image {
    aspect-ratio: 1/1;
}
.post-description {
    margin-top: 1rem;
}

/* POSTS OVERLAY */
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}

.post-overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.post-image-zoom {
    width: min(70vw, 400px);
    aspect-ratio: 1/1;
}

/************************************************
    HEADER 
 ************************************************/
header {
    background-image: url(../img/wall.png);
}

/************************************************
    MAIN 
 ************************************************/

/************************************************
    RESPONSIVE: MOBILE-FIRST
 ************************************************/
/* MEDIUM */
@media screen and (min-width: 680px) {
    /*====================
        RESET
    ====================*/
    button {
        font-size: min(30vw, 1.7rem) !important;
        padding: 5px 30px !important;
    }

    /*====================
        UTILITIES
    ====================*/
    h1 {
        font-size: 4rem;
    }

    /* POSTS */
    .post-image,
    .post-description {
        width: clamp(90px, 50vw, 280px);
    }

    /* POSTS OVERLAY */
    .post-image-zoom {
        width: clamp(90px, 80vw, 400px);
        aspect-ratio: 1/1;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    /*====================
        RESET
    ====================*/
    button {
        font-size: min(30vw, 1.7rem) !important;
        padding: 5px 30px !important;
    }

    /*====================
        UTILITIES
    ====================*/
    h1 {
        font-size: 5rem;
    }
}

/************************************************
    FONTS
 ************************************************/
